.footer {
    /* position: fixed; */
    bottom: 0;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    font-size: 23px;
}

.footer-a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 23px;
    width: 50vw;
}

.footer-a :hover {
    text-decoration: none;
}

.footer-span {
    font-size: 20px;
    font-weight: normal;
}

.left {
    width: 40vw;
}

.github {
    height: 25px;
    width: 25px;
}
