.App {
    text-align: center;
    width: 90vw;
}

.green {
    background-color: darkgreen;
    color: white;
    box-shadow: 3px 3px 10px #ccc;
}

.right {
    position: relative;
    right: -30%;
}

.scroll {
    max-height: 700px;
    overflow-y: scroll;
}
