.App {
    text-align: center;
    width: 90vw;
}

.green {
    background-color: darkgreen;
    color: white;
    box-shadow: 3px 3px 10px #ccc;
}

.right {
    position: relative;
    right: -30%;
}

.scroll {
    max-height: 700px;
    overflow-y: scroll;
}

.a-btn {
    text-decoration: underline;
    color: white;
    background-color: transparent;
    border: none;
    font-size: 18px;
}

.line {
    background-color: rgb(6, 43, 6);
    height: 1px;
    width: 100%;
}

.white,
.white:hover {
    color: white;
}
