.main-div {
    height: 300px;
    margin-top: -120px;
    z-index: 1;
    background-color: darkgreen;
    /* background: linear-gradient(
        0deg,
        rgb(25, 77, 28) 0%,
        rgb(43, 218, 46) 100%
    ); */
    color: white;
}

.main-line {
    width: 120vw;
    margin-left: -10vw;
    height: 1px;
    background-color: #bbb;
    box-shadow: 2px 0 10px #aaa;
}
