.paths-div {
    max-height: 680px;
}

.card-date {
    margin-left: 180px;
}

.card-each {
    text-align: left;
}

.card-more {
    margin-left: 260px;
}

.mymt {
    margin-top: -23px !important;
}
